.ibm-fluid {
  margin: 0 auto;
  max-width: 1650px;
  padding: 0 10px 10px; }
  .ibm-fluid .ibm-fluid {
    margin-left: -10px;
    margin-right: -10px; }
    @media only screen and (min-width: 0px) and (max-width: 579px) {
      .ibm-fluid .ibm-fluid {
        margin-left: -20px;
        margin-right: -20px; } }
  .ibm-fluid,
  .ibm-fluid [class*=ibm-col-] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .ibm-fluid::after,
    .ibm-fluid [class*=ibm-col-]::after {
      content: '';
      display: table;
      clear: both; }
  @media (min-width: 580px) {
    .ibm-fluid [class*=ibm-col-] {
      float: left; }
    .ibm-fluid .ibm-fluid {
      padding: 0;
      width: calc(100% + 20px); } }
  .ibm-fluid.ibm-seamless {
    padding-left: 20px;
    padding-right: 20px; }
    .ibm-fluid.ibm-seamless .ibm-fluid {
      max-width: 100%;
      padding: 0;
      width: 100%; }
    .ibm-fluid.ibm-seamless [class*=ibm-col-] {
      padding: 0; }
  .ibm-fluid.ibm-fullwidth {
    max-width: 100%;
    width: 100%; }
    .ibm-fluid.ibm-fullwidth.ibm-seamless {
      padding: 0; }
  .ibm-fluid.ibm-seamless .ibm-fluid:not(.ibm-seamless),
  .ibm-fluid:not(.ibm-seamless) .ibm-fluid.ibm-seamless {
    margin: 0 auto; }
  .ibm-fluid:not(.ibm-seamless) .ibm-fluid.ibm-seamless {
    padding: 0; }
  .ibm-fluid [class*=ibm-col-] {
    margin: 0;
    padding: 0 10px;
    min-height: 1px; }

.ibm-col-small-8-4 {
  float: left;
  width: 50%; }

@media (min-width: 580px) {
  .ibm-col-8-1 {
    width: 12.5%; }
  .ibm-col-8-2 {
    width: 25%; }
  .ibm-col-8-3 {
    width: 37.5%; }
  .ibm-col-8-4 {
    width: 50%; }
  .ibm-col-8-5 {
    width: 62.5%; }
  .ibm-col-8-6 {
    width: 75%; }
  .ibm-col-8-7 {
    width: 87.5%; }
  .ibm-col-8-8 {
    width: 100%; } }

@media (min-width: 580px) and (max-width: 1239px) {
  .ibm-col-large-8-1 {
    width: 12.5%; }
  .ibm-col-large-8-2 {
    width: 25%; }
  .ibm-col-large-8-3 {
    width: 37.5%; }
  .ibm-col-large-8-4 {
    width: 50%; }
  .ibm-col-large-8-5 {
    width: 62.5%; }
  .ibm-col-large-8-6 {
    width: 75%; }
  .ibm-col-large-8-7 {
    width: 87.5%; }
  .ibm-col-large-8-8 {
    width: 100%; } }

@media (min-width: 580px) and (max-width: 999px) {
  .ibm-col-medium-8-1 {
    width: 12.5%; }
  .ibm-col-medium-8-2 {
    width: 25%; }
  .ibm-col-medium-8-3 {
    width: 37.5%; }
  .ibm-col-medium-8-4 {
    width: 50%; }
  .ibm-col-medium-8-5 {
    width: 62.5%; }
  .ibm-col-medium-8-6 {
    width: 75%; }
  .ibm-col-medium-8-7 {
    width: 87.5%; }
  .ibm-col-medium-8-8 {
    width: 100%; } }

@media (min-width: 1240px) {
  .ibm-col-xlarge-8-1 {
    width: 12.5%; }
  .ibm-col-xlarge-8-2 {
    width: 25%; }
  .ibm-col-xlarge-8-3 {
    width: 37.5%; }
  .ibm-col-xlarge-8-4 {
    width: 50%; }
  .ibm-col-xlarge-8-5 {
    width: 62.5%; }
  .ibm-col-xlarge-8-6 {
    width: 75%; }
  .ibm-col-xlarge-8-7 {
    width: 87.5%; }
  .ibm-col-xlarge-8-8 {
    width: 100%; } }

@media only screen and (min-width: 0px) and (max-width: 579px) {
  .ibm-col-fixed {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 auto !important;
            flex: 0 0 auto !important; } }
