[class*='ibm-textcolumns-'] {
  -webkit-column-gap: 20px;
  column-gap: 20px; }

ul[class*='ibm-textcolumns-'] {
  padding-bottom: 8px; }
  ul[class*='ibm-textcolumns-'] li + li,
  ul[class*='ibm-textcolumns-'].ibm-plain-list li + li,
  ul[class*='ibm-textcolumns-'].ibm-link-list li + li {
    padding-top: 0; }
  ul[class*='ibm-textcolumns-'] li {
    position: relative;
    -webkit-column-break-inside: avoid;
    break-inside: avoid; }
  ul[class*='ibm-textcolumns-'] > li {
    padding-bottom: 7px; }
  ul[class*='ibm-textcolumns-'].ibm-link-list {
    padding-bottom: 3px; }
    ul[class*='ibm-textcolumns-'].ibm-link-list > li {
      padding-bottom: 12px; }

.ibm-textcolumns-1 {
  -webkit-column-count: 1;
  column-count: 1; }

.ibm-textcolumns-2 {
  -webkit-column-count: 2;
  column-count: 2; }

.ibm-textcolumns-3 {
  -webkit-column-count: 3;
  column-count: 3; }

.ibm-textcolumns-4 {
  -webkit-column-count: 4;
  column-count: 4; }

.ibm-textcolumns-5 {
  -webkit-column-count: 5;
  column-count: 5; }

.ibm-textcolumns-6 {
  -webkit-column-count: 6;
  column-count: 6; }

@media only screen and (min-width: 1480px) {
  .ibm-textcolumns-xlarge-1 {
    -webkit-column-count: 1;
    column-count: 1; }
  .ibm-textcolumns-xlarge-2 {
    -webkit-column-count: 2;
    column-count: 2; }
  .ibm-textcolumns-xlarge-3 {
    -webkit-column-count: 3;
    column-count: 3; }
  .ibm-textcolumns-xlarge-4 {
    -webkit-column-count: 4;
    column-count: 4; }
  .ibm-textcolumns-xlarge-5 {
    -webkit-column-count: 5;
    column-count: 5; }
  .ibm-textcolumns-xlarge-6 {
    -webkit-column-count: 6;
    column-count: 6; } }

@media only screen and (min-width: 1240px) and (max-width: 1479px) {
  .ibm-textcolumns-xlarge-1 {
    -webkit-column-count: 1;
    column-count: 1; }
  .ibm-textcolumns-xlarge-2 {
    -webkit-column-count: 2;
    column-count: 2; }
  .ibm-textcolumns-xlarge-3 {
    -webkit-column-count: 3;
    column-count: 3; }
  .ibm-textcolumns-xlarge-4 {
    -webkit-column-count: 4;
    column-count: 4; }
  .ibm-textcolumns-xlarge-5 {
    -webkit-column-count: 5;
    column-count: 5; }
  .ibm-textcolumns-xlarge-6 {
    -webkit-column-count: 6;
    column-count: 6; } }

@media only screen and (min-width: 1000px) and (max-width: 1239px) {
  .ibm-textcolumns-large-1 {
    -webkit-column-count: 1;
    column-count: 1; }
  .ibm-textcolumns-large-2 {
    -webkit-column-count: 2;
    column-count: 2; }
  .ibm-textcolumns-large-3 {
    -webkit-column-count: 3;
    column-count: 3; }
  .ibm-textcolumns-large-4 {
    -webkit-column-count: 4;
    column-count: 4; }
  .ibm-textcolumns-large-5 {
    -webkit-column-count: 5;
    column-count: 5; }
  .ibm-textcolumns-large-6 {
    -webkit-column-count: 6;
    column-count: 6; } }

@media only screen and (min-width: 760px) and (max-width: 999px) {
  .ibm-textcolumns-medium-1 {
    -webkit-column-count: 1;
    column-count: 1; }
  .ibm-textcolumns-medium-2 {
    -webkit-column-count: 2;
    column-count: 2; }
  .ibm-textcolumns-medium-3 {
    -webkit-column-count: 3;
    column-count: 3; }
  .ibm-textcolumns-medium-4 {
    -webkit-column-count: 4;
    column-count: 4; }
  .ibm-textcolumns-medium-5 {
    -webkit-column-count: 5;
    column-count: 5; }
  .ibm-textcolumns-medium-6 {
    -webkit-column-count: 6;
    column-count: 6; } }

@media only screen and (min-width: 580px) and (max-width: 759px) {
  .ibm-textcolumns-medium-1 {
    -webkit-column-count: 1;
    column-count: 1; }
  .ibm-textcolumns-medium-2 {
    -webkit-column-count: 2;
    column-count: 2; }
  .ibm-textcolumns-medium-3 {
    -webkit-column-count: 3;
    column-count: 3; }
  .ibm-textcolumns-medium-4 {
    -webkit-column-count: 4;
    column-count: 4; }
  .ibm-textcolumns-medium-5 {
    -webkit-column-count: 5;
    column-count: 5; }
  .ibm-textcolumns-medium-6 {
    -webkit-column-count: 6;
    column-count: 6; } }

@media only screen and (min-width: 0px) and (max-width: 579px) {
  [class*='ibm-textcolumns-'] {
    -webkit-column-count: 1;
    column-count: 1; }
  .ibm-textcolumns-small-2 {
    -webkit-column-count: 2;
    column-count: 2; } }
